@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: #f5f6fa;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900

.rubik-<uniquifier > {
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
